<!doctype html>
<html lang="en">
  <head>
    <meta charset="<%= charset %>">
    <title><%= @title %></title>
    <%= erb(:headers) %>
  </head>
  <body>
    <div id="content">
      <h1><%= @title %></h1>
      <%= yieldall %>
    </div>

    <%= erb(:footer) %>
  </body>
</html>
